h1, h2, h3, h4, h5, h6 {
color: crimson;
}

#quote-by-author {
    background: lightgrey;
    padding: 10px;
    line-height: 1.75;
    }

    header ~ img { border: 4px solid crimson; }
    a:link {
    color: #1D70B8;
    }
    a:visited {
    color: #4C2C92;
    }
    a:hover {
    color: #003078;
    }
    a:focus {
    outline: solid 1px crimson;
    }

    header + p::first-letter {
        color: crimson;
        font-style: italic;
       }

       [lang="it"]::before {
        content: " "
       }